<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Если запрос идет к существующему файлу или директории в корне - разрешаем доступ
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Все остальные запросы перенаправляем в public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

